[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.6"
flake8 = "*"
django-mathfilters = "*"
django-heroku = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
